p Hi #{name},

p Thanks for signing up. Click the link below to confirm your subscription and you'll be on your way.

p
 a(href=confirm_link) Confirm your subscription

p It's good to have you!

p This wasn't you? 
 a(href=unsubscribe_link) Unsubscribe here.

p Thanks,

p Ioan Biticu.