p Hi #{name},

p 

p Thanks for signing up. Click the link below to confirm your subscription and you'll be on your way.

p 

p
 a(href=confirm_link, class="confirm") Confirm your subscription

p It's good to have you!

p 

p This wasn't you? 
 a(href=unsubscribe_link, class="unsubscribe") Unsubscribe here.

p 

p Thanks,

p Ioan Biticu.