p Hi #{name},

p 

p Sorry to see you go!

p 

p
  span Can you do me a favour? 
  a(href=survey_link, class="survey") Fill in this survey 
  span (it's anonymous) I am curious why you've left, and if I could've done anything different

p If you didn't intend to unsubscribe, visit 
    a(href=homepage_link, class="homepage") our homepage

p 

p Hope we'll see each other again!

p 

p Thanks,

p Ioan Biticu.